#hcb_settings {
  color: #ffffff;
  font-size: 16px;
}
.hcb-icon hcb-door-out {
  width: 28px;
  filter: invert(100%) sepia(6%) saturate(22%) hue-rotate(106deg) brightness(104%) contrast(106%);
}
.btn-secondary {
  border-radius: 10px;
}
#hcb_submit {
  border-radius: 10px;
}
#hcb_form_content {
  border-radius: 10px;
}
#hcb_form_name {
  border-radius: 10px;
}
a:link {
  color: #006eff;
}
a:visited {
  color: #006eff;
}
a:hover {
  color: #0057c9;
}
a:active {
  color: #006eff;
} 
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,1);
  z-index: 20;
  cursor: pointer;
}
#text{
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  font-family: 'Comfortaa', cursive;
}
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.button:hover {background-color: #3e8e41}
.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}